name: Jin Cms Deployment

on:
  push:
    branches: [ "main" ]

jobs:

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Create environment production and build
        run: |
          echo "${{ secrets.ENV_FILE_PRODUCTION }}" > .env.production
          npm install --force
          npm run build
      
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: sigitnurmajid/jin-cms
      
      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  pull_the_registery:
    needs: push_to_registry
    name: Push Docker image to Server
    runs-on: ubuntu-latest

    steps:  
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          sudo docker stop jin-cms
          sudo docker rm jin-cms

          sudo docker rmi sigitnurmajid/jin-cms:main
          sudo docker pull sigitnurmajid/jin-cms:main

          docker run -d -p 1337:1337 --name jin-cms sigitnurmajid/jin-cms:main
